:root {
  --white: #ffffff;
  --red: #d4251b;

  --color-primary: var(--red);
  --color-secondary: #433875;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: black;
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Germania One', cursive;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
}

.video-wrapper {
  text-align: center;
  padding: 1rem;
  width: 50%;
}

.responsive-embed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.responsive-embed iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

li {
  display: inline-block;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: 1rem;
  padding: .5rem 1.2rem;
  background-color: var(--color-primary);
  color: var(--white);
  margin: .3rem;
}