.wrapper {
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Germania One', cursive;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.video-wrapper {
  text-align: center;
  padding: 1rem;
}